<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cyborg/bootstrap.min.css" rel="stylesheet" integrity="sha384-D9XILkoivXN+bcvB2kSOowkIvIcBbNdoDQvfBNsxYAIieZbx8/SI4NeUvrRGCpDi" crossorigin="anonymous">
        <meta charset="utf-8">
        <title>Rock, Paper, Scissors</title>
    </head>
    <body>
        <div class="container">

            <h1>Rock, Paper, Scissors</h1>
            <form method="post" action="/result">
                <input type="text" name="user_one" placeholder="Player One select your weapon">
                <input type="text" name="user_two" placeholder="Player Two select your weapon">
              <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>
