<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cyborg/bootstrap.min.css" rel="stylesheet" integrity="sha384-D9XILkoivXN+bcvB2kSOowkIvIcBbNdoDQvfBNsxYAIieZbx8/SI4NeUvrRGCpDi" crossorigin="anonymous">
        <meta charset="utf-8">
        <title>Rock, Paper, Scissors</title>
    </head>
    <body>
        <div class="container">
            <h1>Rock, Paper, Scissors</h1>
            {{ result }}
            <form action="/" method="get">
                <button type="submit" name="button">Go Home</button>
            </form>
        </div>

    </body>
</html>
